* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
  color:rgb(98, 5, 98);
  font-family: "Merriweather", serif;
  padding: 48px 60px;
}

/* layout */

.container {
  max-width: 1000px;
  background-color: #fed7aa;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

.main-form {
  background-color: #fee2e2;
  margin-bottom: 40px;
  padding: 16px 40px;
  border: 4px solid purple;

}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px
}

h1 {
  font-size: 42px;
  text-transform: uppercase; 
  text-align: center;
  color: rgb(98, 5, 98);
  line-height: 1;
}

.info {
  font-size: 20px;
  line-height: 1.4;
  background-color: #fee2e2;
  margin-bottom: 16px;
  padding: 16px 30px;
  letter-spacing: -1px;
  border: 4px solid purple;
  display: flex;
  align-items: center;
  gap: 24px;
}

.tag {
  text-transform: lowercase;
  font-size: 14px;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}